.dashboard {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .stats-list {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #b91c1c;
    list-style-type: none;
    clear: left;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .stats-list .stats-list-positive,
  .stats-list .stats-list-negative {
    color: #b91c1c;
  }
  
  .stats-list > li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #cacaca;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
  }
  
  .stats-list > li:last-child {
    border: none;
    margin: 0;
    padding: 0;
  }
  
  .stats-list > li .stats-list-label {
    display: block;
    margin-top: 2px;
    font-size: 0.9em;
    font-weight: normal;
  }