<!DOCTYPE html>

<html>
  <head>
    <title> LOGIN PAGE </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body class = "center-screen">
    <main class="auth-card">
    <h1 class="title">LOGIN</h1>
    <form method="POST">
      <input type="text" placeholder="Username" name="name">
      <input type="password" placeholder="Password" name="password">
      <input type="hidden" name="form_type" value="sign_in">
      <input type="submit" value="Enter">
    </form>
    <p id="errortag">{{errorL}}</p>
    <br>
    <h1>REGISTER</h1>
    <form method="POST">
      <input type="text" placeholder="Username" name="name">
      <input type="password" placeholder="Password" name="password">
      <input type="hidden" name="form_type" value="sign_up">
      <input type="submit" value="Enter">
    </form>
    <p id="errortag">{{errorS}}</p> 
  </main>
  </body>
</html>