<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>D3 Obesity Visualization</title>
  <script src="/static/d3.min.js"></script>
  <style>
    body { font-family: sans-serif; }
    svg { border: 1px solid #ccc; }
    .dot { opacity: 0.7; }
  </style>
</head>
<body>
  <h1>Obesity Data Visualization</h1>
  <svg width="800" height="500"></svg>

  <script>
    fetch('/api/data')
      .then(res => res.json())
      .then(data => {
        const svg = d3.select("svg");
        const margin = {top: 20, right: 20, bottom: 30, left: 40};
        const width = +svg.attr("width") - margin.left - margin.right;
        const height = +svg.attr("height") - margin.top - margin.bottom;
        const g = svg.append("g").attr("transform", `translate(${margin.left},${margin.top})`);

        const x = d3.scaleLinear()
          .domain(d3.extent(data, d => d.weight))
          .range([0, width]);

        const y = d3.scaleLinear()
          .domain(d3.extent(data, d => d.height))
          .range([height, 0]);

        const color = d3.scaleOrdinal(d3.schemeCategory10);

        g.append("g")
          .attr("transform", `translate(0,${height})`)
          .call(d3.axisBottom(x));

        g.append("g")
          .call(d3.axisLeft(y));

        g.selectAll(".dot")
          .data(data)
          .enter().append("circle")
          .attr("class", "dot")
          .attr("r", 4)
          .attr("cx", d => x(d.weight))
          .attr("cy", d => y(d.height))
          .attr("fill", d => color(d.category));
      });
  </script>
</body>
</html>
