<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOMEPAGE</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">  
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://d3js.org/topojson.v3.min.js"></script>
</head>
<body>
  <nav class="navbar">
    <a class="brand" href="{{ url_for('home') }}">RSObesity</a>
    
    <a class="nav-link" href="{{ url_for('profile') }}">PROFILE</a>
    <a class="nav-link" href="{{ url_for('map') }}">US MAP</a>
    <a class="nav-link" href="{{ url_for('radar') }}">RADAR</a>
    <a class="nav-link" href="{{ url_for('bar_race') }}">BAR RACE</a>
    <a class="nav-link" href="{{ url_for('leaderboard') }}">LEADERBOARD</a>
  
    <form action="{{ url_for('logout') }}" method="post" style="margin-left:auto;">
      <button type="submit" class="btn logout">GET ME OUT OF HERE</button>
    </form>
  </nav>
  <div class="intro-paragraph">
    Over time, obesity has become a serious issue, especially in the United States. In fact, since 1975, global obesity rates have nearly tripled. To spread awareness, we created this website to extrapolate information from various datasets to graph and visualize obesity by state, country, and lifestyle. Our greater goal is to warn people about the rising danger of obesity and help them improve the quality of their life.
  </div>
  <!--stats list-->
  <ul class="stats-list">
    <li>
      40.3% <span class="stats-list-label">Among Adults</span>
    </li>
    <li class="stats-list-positive">
      39.2% <span class="stats-list-label">Among Men</span>
    </li>
    <li class="stats-list-negative">
      41.3% <span class="stats-list-label">Among Women</span>
    </li>
  </ul>
  
  <main class="dashboard">
</body>
</html>
