<!DOCTYPE html>

<html>

  <head>
    <title> REGISTER PAGE </title>
  </head>

  <body>
    <h1>
      Howdy, it appears that you need a new account!
    </h1>

    <h3>
      Input a new username below.
    </h3>
    <form action="/login" method="POST">
      <p>Username: </p>
      <input type="text" name="username">
      <br><br>
      <p>Set a Password: </p>
      <input type="text" name="password">
      <br><br>
      <input type="submit" name="sub1" value="Login">

    </form>
    <br>
    <br>
  </body>

  
</html>
